@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply antialiased;
    text-rendering: optimizeLegibility;
    overscroll-behavior-y: none;
  }

  body {
    @apply overflow-x-hidden;
    overscroll-behavior-y: none;
  }

  #main {
    overscroll-behavior-y: contain;
  }

  *::selection {
    @apply bg-medusa-fg-subtle text-medusa-fg-on-inverted;
  }

  * {
    scrollbar-color: var(--docs-border-base) var(--docs-bg-base);
  }

  aside * {
    scrollbar-color: var(--docs-border-base) var(--docs-bg-subtle);
    overscroll-behavior-y: contain;
  }

  body[data-modal="opened"] {
    @apply !overflow-hidden;
  }

  .text-wrap {
    text-wrap: wrap;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}